body { 
  min-height: 100vh; 
  background-image: url('/themes/keithieopia/img/subtle_dots.png');
  font-family: "Andika", sans-serif;
}

.bg-teal {
  background-color: #008c9e;
}

.bg-green {
  background-color: #042608;
}

.text-green, a:hover.text-green, a:visited.text-green {
  color: #042608;
}

.text-teal, a:hover.text-teal, a:visited.text-teal {
  color: #008c9e;
}

.invert {
  filter: invert(100%);
}

.fnt-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.logo { 
  height: 5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", sans-serif;
  color: #008c98;
}

.text-small-caps {
  font-variant: small-caps;
}

a, a:visited {
  color: #008c98;
  text-decoration: none;
}

a:hover {
  color: #008c98;
  text-decoration: underline;
  opacity: 0.8;
  transition: 0.5s;
}

main .container {
  background-color: #FFF;
}
